certifi==2018.8.24
chardet==3.0.4
coreapi==2.3.3
coreschema==0.0.4
Django==2.2.27
django-cors-headers==2.4.0
django-debug-toolbar==1.11.1
django-environ==0.4.5
django-filter==2.0.0
djangorestframework==3.11.2
drf-yasg==1.10.2
gunicorn==19.9.0
idna==2.7
inflection==0.3.1
itypes==1.1.0
Jinja2==2.11.3
jsonschema==2.6.0
Markdown==2.6.11
MarkupSafe==1.0
mutagen==1.41.1
Pillow==8.2.0
psycopg2==2.7.5
pytz==2018.5
PyYAML==5.4
raven==6.9.0
requests==2.20.0
ruamel.yaml==0.15.70
six==1.11.0
sqlparse==0.2.4
swagger-spec-validator==2.4.0
uritemplate==3.0.0
urllib3==1.26.5
youtube-dl==2018.11.7
